# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境（例：venv, bookmanagement-env）
bookmanagement-env/
venv/

# Django SQLite DB
db.sqlite3

# 環境変数ファイル
.env

# エディタやOSのゴミ
*.DS_Store
.vscode/
.idea/

# その他
bookmanagementapp/migrations/0001_initial.py
bookmanagementapp/migrations/0002_alter_loanmodel_book_and_more.py
