{% extends "bookmanagementapp/base.html" %}
{% block title %}貸出状況一覧{% endblock %}

{% block header %}
  <div class="pricing-header p-4 pb-md-5 mx-auto text-center">
    <h1 class="display-4 fw-bold text-primary">📖 貸出状況</h1>
    <p class="fs-5 text-muted mt-3">
      ここでは研究室内にある書籍の貸出状況を確認できます。<br>
       借りたい書籍や気になる書籍の貸出状況の確認を行ってください。
    </p>
  </div>
{% endblock header %}

{% block content %}

  {% if loans %}
    <ul class="list-group">
      {% for loan in loans %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ loan.book.title }}</strong>
            <div class="text-muted small">
              ISBN: {{ loan.book.isbn }}<br>
              借りた人: {{ loan.user.username }}
            </div>
          </div>
          <span class="badge bg-secondary text-light">
            {{ loan.borrowed_date|date:"Y/m/d" }} 借出
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-info">現在、貸出中の書籍はありません。</div>
  {% endif %}
{% endblock %}